/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #000;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #000;
  font-family:"Helvetica";
  text-transform:uppercase;
  background: url(images/border6.png) no-repeat scroll center top transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

}
body {
  color: #000;
  text-align: center;
  background-color:#E6E6E6;
  position:relative;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  margin-left:auto;
    margin-right:auto;
    width:960px;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:50px;
  font-family: Custom Font, bold;
  position:center;
  color:black;
}


.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #000; /* IE8 proofing */
  color: rgba(0,0,0,.75);
  border-bottom: 2px solid transparent;
  
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #000;
  border-bottom-color: #fff;
}

@media (min-width: 500px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.box {
    display: inline-block;
    width: auto;
    height: 360px;
    vertical-align: middle;
    background-color:#073074;
    opacity:.7;
    border: 3px solid #000;

}
.box span {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    
}

#submit_text {
  margin-left: auto ;
  margin-right: auto ;
}

#inner {
    width: 50%;
    margin: auto auto;
}

#view_text{
  min-width: 500px;
  color: #000000;
  text-align: left;
  word-wrap: break-word;
  color:white;
}


.holder{
  position: relative;
  padding:10px 20px;
  width:800px;
  height:1020px;
}
/*
 * Affix and center
 */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;

}
@media (min-width: 500px) {
  /* Pull out the header and footer */
  .masthead {
    width: 700px;
    top: 0;
  }
 
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .holder
  .cover-container { g
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

@font-face {
    font-family: 'Custom Font'; /*a name to be used later*/
    src: url('fonts/Colors Of Autumn.ttf'); /*URL to font*/
}

@-webkit-frames{

}
